body{
    background-image: url(unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
}
/* headr section */
 h1{
    color: white;
    margin-left: 50px;
    font-size: xx-large;
     
    
}
a{
    text-decoration: none;
  
}
 #header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* text-decoration: none; */
    color: white; 
    
}

.nav-list ul{
   list-style: none;
  position: absolute;
  width: 100vh;
  height:100vh;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  margin-left: 50%;
  font-size: large;
  /* align-items: right; */
  /* text-align: right; */
  
} 
.nav-list ul a{
    /* font-weight: 500; */
    letter-spacing: 0rem;
    text-decoration: none;
    color: white;
    padding: 10px; 
    display: block; 
    /* text-align: right; */


}
h2{
    color: white;
    display: flex;
    font-size: 2rem;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  
}
.wrapper .txt{
    margin-left: 15px;
    line-height: 80px;
    overflow: hidden;
    height: 90px;

}
.txt li{
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    color: white;
    top: 0%;
    position: relative;
    animation: typing 1.5s stops(10) infinite;
}

.wrapper .txt li span{
    position: relative;
}
.wrapper .txt li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid #fc6d6d;
    animation: slide 6s steps(4) infinite;
}
 @keyframes slide {
    100%{
        top: -360px;
    }
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3{
    align-items: center;
    justify-content: center;
    color: white;
}
